#gameBox {
   width: fit-content;
   position: fixed;
   bottom: 18%;
   left: 28%;
   text-align: center;
}
.numBut {
  width: 100%;
}

.container {
    display: inline;
    justify-content: flex-end;
}

table td {
    width: fit-content !important;
    height: 2rem !important;
}

.moon {
  background-color: #000000;
}