body {
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
}


.header {
   width: 100%;
   position: fixed;
   top: 0;
   width: 100%;
}

.links {
   color: rgb(196, 196, 196) !important;
}


.Landing {
   text-align: center;
   width: fit-content; 
   position: fixed;
   bottom: 30%;
   left: 55%;
   box-shadow: 10px 10px 10px;
}

.footer {
   border: 1px solid black;
   position: fixed;
   bottom: 0;
   width: 100%;
}

#footer {
  margin: 0 auto;
}