body {
    background-image: url('./images/bg.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.header {
   border: 1px solid black;
   
} 

.options {
   text-align: right;
   width: auto;
   padding-left: 0;
   margin: 0;
}