body {
    background-image: url('./images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
}

.header {
   width: 100%;
   position: fixed;
   top: 0;
   width: 100%;
}

.Landing {
   margin: 10%;
   border: 1px solid black;
   text-align: center;
   width: fit-content;
}

.footer {
   border: 1px solid black;
   position: fixed;
   bottom: 0;
   width: 100%;
}

#footer {
  margin: 0 auto;
}